.slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}   

.slick-dots button {
    margin-right: 10px;
    border: 1px solid #00E0D0;
    padding: 7px;
    border-radius: 100%;
    font-size: 0;
    cursor: pointer;
    outline: none;
    text-align: center;
	background-color: transparent;
}

.slick-prev {
    color: #fff;
    z-index: 100;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    background: transparent;
    position: absolute;
    outline: none;
    top: 60%;
    margin-top: -31px;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
    transform: rotate(45deg);
    left: 0px;
    opacity: 0.6;
    font-size: 0;
}

.slick-next {
    color: #fff;
    z-index: 100;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    position: absolute;
    top: 60%;
    margin-top: -31px;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
    transform: rotate(-135deg);
    opacity: 0.6;
    right: 0;
    font-size: 0;
}