html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
div,
a,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page .header {
  background-image: url(../img/photo.jpg);
  height: 100vh;
}
.page .header .wrapper .content .top-header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.page .header .wrapper .content .top-header .logo .name-website {
  font-size: 25px;
  color: #fff;
}
.page .header .wrapper .content .top-header .menu {
  display: flex;
  align-self: flex-end;
}
.page .header .wrapper .content .top-header .menu li {
  padding-right: 20px;
}
.page .header .wrapper .content .top-header .menu li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s linear;
}
.page .header .wrapper .content .top-header .menu li a:hover {
  color: #945633;
}
.page .header .wrapper .content .top-header .menu li a:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #945633;
}
.page .header .wrapper .content .top-header .search-basket {
  align-self: flex-end;
}
.page .header .wrapper .content .top-header .search-basket span {
  font-size: 18px;
  color: #fff;
  padding-right: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.page .header .wrapper .content .top-header .search-basket span:hover {
  color: #945633;
}
.page .header .wrapper .content .down-header {
  padding-top: 100px;
}
.page .header .wrapper .content .down-header .title-down-header {
  text-align: center;
  font-size: 25px;
  color: #fff;
}
.page .header .wrapper .content .down-header .main-title-page {
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
  color: #fff;
}
.page .header .wrapper .content .down-header .text-header {
  text-align: center;
  color: #fff;
  padding: 0 300px;
  line-height: 170%;
  padding-top: 20px;
}
.page .header .wrapper .content .down-header .overlay-btn {
  text-align: center;
  padding-top: 20px;
}
.page .header .wrapper .content .down-header .overlay-btn .btn-down-header {
  background: #9b9292;
  color: #fff;
  font-size: 18px;
  outline: none;
  transition: all 0.3s linear;
  border-radius: 5px;
  padding: 15px 35px;
  margin-top: 20px;
  border: 0;
}
.page .header .wrapper .content .down-header .overlay-btn .btn-down-header:active {
  transform: scale(0.95);
}
.page .cards {
  padding: 50px 0;
}
.page .cards .content {
  display: flex;
  justify-content: space-between;
}
.page .cards .content .card {
  width: 20%;
}
.page .cards .content .card .icon {
  display: block;
  font-size: 25px;
  text-align: center;
}
.page .cards .content .card .title-card {
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}
.page .cards .content .card .text-card {
  font-size: 16px;
  text-align: center;
  line-height: 170%;
  padding-top: 10px;
}
.page .ideas .title-ideas {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.page .ideas .text-ideas {
  color: #9b9292;
  text-align: center;
  padding: 20px 0;
}
.page .ideas .image {
  text-align: center;
}
.page .wordpress-theme {
  background-image: url(../img/Background.jpg);
}
.page .wordpress-theme .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0;
}
.page .wordpress-theme .content .text .title-wordpress-first {
  color: #c99;
  font-size: 20px;
  padding-right: 20px;
}
.page .wordpress-theme .content .text .title-wordpress-second {
  color: #fff;
  font-size: 20px;
}
.page .wordpress-theme .content .text .text-wordpress {
  color: #544a46;
  padding-top: 20px;
}
.page .wordpress-theme .content .btn-overlay .purchase-now {
  background-color: #998675;
  color: #fff;
  font-size: 18px;
  outline: none;
  transition: all 0.3s linear;
  border-radius: 5px;
  padding: 15px 35px;
  margin-top: 20px;
  border: 0;
}
.page .wordpress-theme .content .btn-overlay .purchase-now:active {
  transform: scale(0.95);
}
.page .project {
  padding: 50px 0;
}
.page .project .main-info-project {
  text-align: center;
}
.page .project .main-info-project .title-project {
  padding-bottom: 20px;
  font-size: 28px;
}
.page .project .main-info-project .text-project {
  font-size: 16px;
  line-height: 170%;
}
.page .project .main-info-project .btns-overlay-project {
  padding-bottom: 20px;
}
.page .project .main-info-project .btns-overlay-project .general-project-main-info-button {
  background-color: #998675;
  color: #fff;
  font-size: 18px;
  outline: none;
  transition: all 0.3s linear;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
  border: 0;
}
.page .project .main-info-project .btns-overlay-project .general-project-main-info-button:active {
  transform: scale(0.95);
}
.page .project .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.page .project .content .card {
  visibility: hidden;
  border-radius: 20px;
  width: 30%;
  position: relative;
  cursor: pointer;
  margin: 0px 20px 50px 20px;
}
.page .project .content .card .image {
  width: 360px;
  height: 300px;
  background-image: url(../img/photo.jpg);
  visibility: visible;
  border-radius: 20px 20px 0px 0px;
}
.page .project .content .card .basket {
  position: absolute;
  top: 150px;
  left: 45%;
  font-size: 25px;
  color: #fff;
}
.page .project .content .card .search {
  position: absolute;
  top: 150px;
  left: 60%;
  font-size: 25px;
  color: #fff;
}
.page .project .content .card .title {
  visibility: visible;
  width: 100%;
  font-size: 28px;
  text-align: center;
  padding-top: 20px;
}
.page .project .content .card .text {
  visibility: visible;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  line-height: 170%;
}
.page .project .content .card:hover {
  visibility: visible;
  background: #481717;
}
.page .project .content .overlay-btn-project .btn-project {
  background-color: #998675;
  color: #fff;
  font-size: 18px;
  outline: none;
  transition: all 0.3s linear;
  border-radius: 5px;
  padding: 15px 35px;
  margin-top: 20px;
  border: 0;
}
.page .project .content .overlay-btn-project .btn-project:active {
  transform: scale(0.95);
}
.page .waxom-video {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/photo12.jpg);
}
.page .waxom-video .icon {
  padding: 200px 0;
  text-align: center;
}
.page .waxom-video .icon .play-video {
  font-size: 50px;
  color: #fff;
  padding-bottom: 20px;
}
.page .waxom-video .icon .title-video {
  padding-bottom: 20px;
  font-size: 28px;
  color: #fff;
}
.page .waxom-video .icon .text-video {
  padding-bottom: 20px;
  color: #fff;
  font-size: 16px;
}
.page .waxom-video .icon .time {
  color: #fff;
}
.page .mobile-devices {
  padding: 50px 0px;
}
.page .mobile-devices .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page .mobile-devices .content .info .title-mobile-devices {
  font-size: 30px;
  color: #555555;
}
.page .mobile-devices .content .info .text-mobile-devices {
  font-size: 16px;
  line-height: 170%;
  width: 70%;
  padding: 30px 0;
  color: #797979;
}
.page .mobile-devices .content .info ul li p {
  color: #797979;
  font-size: 16px;
}
.page .mobile-devices .content .info ul li p:before {
  content: "→";
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  background: #c7b299;
  padding: 0px 3px 3px 3px;
  color: #fff;
  border-radius: 100%;
  margin-bottom: 20px;
}
.page .statistic {
  background-image: url(../img/Background.jpg);
}
.page .statistic .content {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.page .statistic .content .general-block {
  padding: 0 25px;
}
.page .statistic .content .general-block .icon {
  font-size: 35px;
  color: #fff;
  padding-bottom: 10px;
}
.page .statistic .content .general-block .how-many {
  font-size: 30px;
  padding-bottom: 10px;
  color: #fff;
}
.page .statistic .content .general-block .name {
  text-transform: uppercase;
  color: #555555;
}
.page .statistic .content .general-block .name:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  text-align: center;
  background-color: #fff;
}
.page .recent-post {
  padding: 50px 0;
}
.page .recent-post .info {
  text-align: center;
}
.page .recent-post .info .title-post {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
}
.page .recent-post .info .text-post {
  font-size: 16px;
  line-height: 170%;
}
.page .recent-post .content {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}
.page .recent-post .content .card {
  border-radius: 20px;
  width: 25%;
  position: relative;
  visibility: hidden;
}
.page .recent-post .content .card .date {
  position: absolute;
  z-index: 500;
  top: 50px;
  visibility: visible;
  border-radius: 20px;
  left: 20px;
}
.page .recent-post .content .card .date .day {
  font-size: 16px;
  font-weight: bold;
  background-color: #363636;
  color: #fff;
  padding: 5px;
  text-align: center;
}
.page .recent-post .content .card .date .mother {
  font-size: 16px;
  font-weight: bold;
  background-color: #252525;
  padding: 5px;
  color: #fff;
  text-align: center;
}
.page .recent-post .content .card .date-special {
  position: absolute;
  z-index: 800;
  top: 50px;
  border-radius: 20px;
  left: 20px;
}
.page .recent-post .content .card .date-special .day-special {
  font-size: 16px;
  font-weight: bold;
  background-color: #c7b299;
  color: #fff;
  padding: 5px;
  text-align: center;
}
.page .recent-post .content .card .date-special .mother-special {
  font-size: 16px;
  font-weight: bold;
  background-color: #c7b299;
  padding: 5px;
  color: #fff;
  text-align: center;
}
.page .recent-post .content .card .image {
  background-image: url(../img/photo15.jpg);
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  height: 300px;
  visibility: visible;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page .recent-post .content .card .mac {
  background-image: url(../img/photo16.jpg);
}
.page .recent-post .content .card .ship {
  background-image: url(../img/photo17.jpg);
}
.page .recent-post .content .card .title-card-recents-post {
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
  visibility: visible;
  color: #5a5a5a;
  text-align: center;
}
.page .recent-post .content .card .text-card-recent-post {
  font-size: 16px;
  line-height: 170%;
  visibility: visible;
  padding: 10px 0;
  color: #5a5a5a;
  text-align: center;
}
.page .recent-post .content .card .link-read-more {
  padding: 20px 0px 0px 20px;
  visibility: visible;
  color: #b9956e;
}
.page .recent-post .content .card:hover {
  visibility: visible;
  background-color: #362f2d;
}
.page .partners {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/logos1.png);
  height: 200px;
  padding: 5px 0;
  background-image: url(../img/photo18.jpg);
  padding: 200px 0;
}
.page .partners .image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/logos1.png);
  height: 200px;
  padding: 5px 0;
}
