@media(max-width: 1200px) {
	.wrapper {
		padding: 0 50px;
	}

	.page {
		.header {
			height: auto;
			padding-bottom: 20px;

			.wrapper {
				.content {
					.top-header {			
						.menu {
							flex-direction: column;

							li {
								padding-bottom: 10px;
							}
						}
						
						.search-basket {
							display: none;
						}
					}
					
					.down-header {
						.first-slide {
							.text-header {
								padding: 0;
								padding-top: 20px;
								line-height: 200%;
							}
						}
					}
				}
				
			}	
		}
	
		.ideas {
			.image {
				img {
					width: 100%;
				}
			}
		}

		.project {
			.wrapper {
				.content-project {
					.card {
						width: 40%;
					}
				}
			}
		}

		.waxom-video {
			.icon {
				.text-video {
					padding: 0 50px;
					line-height: 200%;
				}
			}
		}

		.mobile-devices {
			.wrapper {
				.content-mobile-devices {
					ul {
						li {
							padding-bottom: 20px;
						}
					}
				}
			}
		}

		.recent-post {
			.wrapper {
				.content-recent-post {
					flex-wrap: wrap;
					justify-content: space-around;

					.card {
						width: 40%;

						.link-read-more {
				          padding: 20px 0px 0px 43px;
				          visibility: visible;
				          color: #b9956e;
				        }
					}
				}
			}
		}

		.footer {
			.wrapper {
				.content-top-footer {
					flex-wrap: wrap;

					.main-info-footer {
						width: 40%;
					}

					.recent-post-footer {
						width: 40%;
					}

					.our-twitter {
						width: 40%;
					}

					.dribble-widget {
						width: 40%;
					}
				}
			}
		}
	}
}

@media(max-width: 900px) {
	.page {
		.header {
			.wrapper {
				.content {
					.down-header {
						.first-slide {
							.text-header {
								
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}